{% extends 'base.html.twig' %}

{% block title %}Hello BagItemController!{% endblock %}

{% block body %}
<p>shuju</p>
{# <p>product_id : {{product.id}} </p> #}
<p>product_id : {{Userid}} </p>
<p>quantity : {{quantity}} </p>
{% endblock %}
